.Toolbar{
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: #1C9C6B;
  color:pink;
      z-index: 80;
}

.logo{
  width: 50px;
  height: 50px;
}
